@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

/* Color sheme 
black-navbar: #050A0F,
color-player:#282828,
color-links-sideNav: #b3b3b3
*/

:root{
    --color-navbar:#050A0F;
    --color-player:#282828;
    --main-font: 'Montserrat', sans-
    serif;
    --color-links-sideNav: #b3b3b3;
    --plyer-height-desktop:90px;
}

/*----- SCHELETON------ */
.wrapper{
   
    font-family: var(--main-font);
}

/* -------SIDENAV----- */
.sideNav{
    width:20vw;
    min-width: 250px;
    max-width: 320px;
    background-color: var(--color-navbar);
    height: calc(100vh - var(--plyer-height-desktop));
    padding:1.5em;
    
    justify-content: space-between;
    

     
}

.sideNav__logo img{
    width: 76%;
    margin-left: 20px;
    margin-bottom: 30px;
}

.sideNav__nav-links a{
    color: var(--color-links-sideNav);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

/* -------PLAYER BOTTOM-----*/
.player iframe {
    width: 100vw;
    height: var(--plyer-height-desktop);
    background-color:var(--color-player);
    position:fixed;
    bottom: 0;
    z-index: 1;;

}














/* ----------------------------------------MEDIA QUERIES ----------------------------------------------------*/



@media screen and (max-width:768px){
  
    .sideNav{
   position:fixed;
   bottom: 0;
   height: 80px;
   max-width: none;
   width: 100vw;
   padding: 10px;
   align-items: center;
   justify-content: center;
  
}

.sideNav__nav-links{
    width: 100vw;
    justify-content: space-around;
    padding-top: 10px;

}
.sideNav__nav-links a{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    

}

/* PLAYER BOTTOM*/

.player iframe{
    height: 80px;
    bottom: 60px;

}

}