@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

/* Color sheme 
black-navbar: #050A0F,
color-player:#282828,
color-links-sideNav: #b3b3b3
*/

:root {
  --color-navbar: #050a0f;
  --color-player: #282828;
  --main-font: "Montserrat", sans- serif;
  --color-links-sideNav: #b3b3b3;
  --plyer-height-desktop: 90px;
}

/*----- SCHELETON------ */
.wrapper {
  font-family: var(--main-font);
}

/* -------SIDENAV----- */
.sideNav {
  width: 20vw;
  min-width: 250px;
  max-width: 320px;
  background-color: var(--color-navbar);
  height: calc(100vh - var(--plyer-height-desktop));
  padding: 1.5em;

  justify-content: space-between;
}

.sideNav__logo img {
  width: 76%;
  margin-left: 20px;
  margin-bottom: 30px;
}

.sideNav__nav-links a {
  color: var(--color-links-sideNav);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

/* -------PLAYER BOTTOM-----*/
.player iframe {
  width: 100vw;
  height: var(--plyer-height-desktop);
  background-color: var(--color-player);
  position: fixed;
  bottom: 0;
  z-index: 1;
}

/* ----------------------------------------MEDIA QUERIES ----------------------------------------------------*/

@media screen and (max-width: 768px) {
  .sideNav {
    position: fixed;
    bottom: 0;
    height: 80px;
    max-width: none;
    width: 100vw;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .sideNav__nav-links {
    width: 100vw;
    justify-content: space-around;
    padding-top: 10px;
  }
  .sideNav__nav-links a {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }

  /* PLAYER BOTTOM*/

  .player iframe {
    height: 80px;
    bottom: 60px;
  }
}

/*-----------------------Jumbotron Artist Page------------------*/

.jumbotron {
  background-image: url("https://cdn.britannica.com/83/149183-050-25913164/Queen.jpg");
  background-size: cover;
  margin-bottom: 0 !important;
}

.jumbotron h1,
p {
  color: white;
}

.jumbo-content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin-top: 80px;
}
.jumbo-content h6:first-child {
  color: #b3b3b3;
}

.buttons-wrapper {
  display: inline;
}
.buttons-wrapper button:first-child {
  background-color: #1db954;
  border-color: white;
  border-radius: 25px;
  width: 120px;
  margin-right: 20px;
}

.buttons-wrapper button:nth-child(2) {
  background-color: rgba(25, 20, 20, 0.3);
  border-color: white;
  border-radius: 25px;
  width: 130px;
  margin-right: 5px;
  margin-left: 10px;
}
.buttons-wrapper i {
  color: white;
}

.jumbo-links {
  justify-content: space-evenly;
  margin-top: -30px;
}
.jumbo-links > a {
  color: #b3b3b3;
  position: relative;
}
.jumbo-links > a:hover {
  color: white;
  text-decoration: none;
}
.jumbo-links a:first-child {
  margin-right: 20px;
}
.jumbo-links a:nth-child(2) {
  margin-left: 10px;
  margin-right: 20px;
}
.jumbo-links a:nth-child(3) {
  margin-left: 10px;
}

.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40%;
  bottom: 0;
  background-color: yellowgreen;
  right: 50%;
  transform: translateX(50%);
}
